<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webtimer</title>
</head>
<body>
    <h1>Simple Webtimer</h1>
    <a href="./start">Start Here</a>
</body>
</html>